/* Footer.css */
footer {
  background: #111;
  color: white;
  text-align: center;
  padding: 30px 20px;
  margin-top: 40px;
}

footer a {
  color: #f39c12;
  margin: 0 5px;
  text-decoration: none;
}

footer a:hover {
  text-decoration: underline;
}
